body {
    padding-top: 100px;
    background-color: rgba(14, 207, 14, 0.363);
}

.profile-image {
    height: 250px;
    width: 250px;
}

.circle-image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    align-content: center;
}

#navbar {
    background-color: white;
}

#navbar .logo {
    width: 40px;
  }

#web-dev-logo {
  max-width: 80%;
  background-color: black;
  }

footer {
    color: #23b887;
    background-color: white;
}

#social-networks {
    text-align: center;
    padding-top: 12px;
    padding-right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    list-style-type: none;
  }
  
  #social-networks i {
    font-size: 300%;
    color: #23b887;
  }

  .contact-me {
    font-size: 800%;
    color: #23b887;
  }

  .contact-me-image {
    height: 300px;
    width: 300px;
    border-radius: 20%;
    border: 10px solid black;
    align-content: center;
}

  #download {
    position: relative;
    width: 230px;
    height: 80px;
    margin: 2px auto;
    background-color: white;
    overflow: hidden;
  }

/*Make all github deployment cards the same height for consistency*/
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

  #repos .card-body {
    min-height: 275px;
  }

  #repos .card-header {
    min-height: 150px;
  }
}  

/* large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
    #repos .card-body {
      min-height: 200px;
    }

    #repos .card-header {
      min-height: 200px;
    }
  }

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  #repos .card-body {
    min-height: 350px;
  }

  #repos .card-header {
    min-height: 120px;
  }
}

/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
  #repos .card-body {
    min-height: 275px;
  }

  #repos .card-header {
    min-height: 140px;
  }
}