body {
    padding-top: 100px;
    background-color: rgba(14, 207, 14, 0.363);
}

.profile-image {
    height: 250px;
    width: 250px;
}

.circle-image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    align-content: center;
}

#navbar {
    background-color: white;
}

#navbar .logo {
    width: 40px;
  }

footer {
    color: #23b887;
    background-color: white;
}

#social-networks {
    text-align: center;
    padding-top: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    list-style-type: none;
  }
  
  #social-networks i {
    font-size: 300%;
    color: #23b887;
  }